<% if params[:id].include? ',' %>
    <div class="row toprow">
      <div class="col-md-12">
        <a href="https://voat.co/submit?linkpost=true&url=https://veuwer.com/i/<%= params[:id] %>">Submit gallery to Voat</a>
      </div>
    </div>
<% end %>

<%
   @imglist.each_with_index { |link, i|
   id = link.id.to_s(36)
   ext = link.image.mimetype.split('/')[1]
   if ext == 'jpeg'
     ext = 'jpg'
   end
   puts id + '.' + ext
%>
    <div class="row toprow">
      <div class="col-md-9">
<% if ext == 'gif' && link.image.converted %>
        <a href="/i/<%= id %>.gvid">
          <video class="userimage" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/i/<%= id %>.webm" type="video/webm">
            <source src="/i/<%= id %>.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
<% else %>
        <a href="/i/<%= id %>.<%= ext %>">
          <img src="/i/<%= id %>.<%= ext %>" class="userimage" />
<% end %>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://voat.co/submit?linkpost=true&url=https://veuwer.com/i/<%= id %>.<%= ext %>">Submit to Voat</a><br /><br />
        <label for="imagelink">Link</label>
        <input type="text" class="form-control input-sm imagelink" value="https://veuwer.com/i/<%= id %>" readonly />
<% if ext == 'gif' %>
     <label for="imagelink">Direct video link</label>
<%   if link.image.converted %>
        <input type="text" class="form-control input-sm imagelink" value="https://veuwer.com/i/<%= id %>.gvid" readonly />
<%   else %>
        <br><i>In queue for video conversion.<br>Position: <%= @gvid_queue_pos[link.image.id] %></i><br>
<%   end %>
        <label for="imagelink">Direct gif link</label>
<% else %>
        <label for="imagelink">Direct link</label>
<% end %>
        <input type="text" class="form-control input-sm imagelink" value="https://veuwer.com/i/<%= id %>.<%= ext %>" readonly />
      </div>
    </div>
    <% unless i == @imglist.count - 1 %>
        <hr>
    <% end %>
<% } %>
