<div class="row toprow">
    <div class="col-md-12">
        <h4>Nothing you upload is private. At least not yet.</h4>
        <small>Supported file types:</small> <strong>jpg, png, gif</strong><br>
        <small>Max file size:</small> <strong>10 MiB</strong>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <input id="filestreams" type="file" accept="image/*" multiple>
        <label id="filestreams-label" class="btn btn-primary btn-block btn-sm" for="filestreams">Browse files</label>
        <input id="urlinput" type="text" class="form-control btn-block input-sm" placeholder="Paste urls">
        <div id="dropzone">Drag files</div>
        <a href="#" class="btn btn-success btn-block btn-sm" id="fileupload" disabled>Upload</a>

        <div id="uploaderror"></div>
    </div>

    <div class="col-md-10" id="filelist"></div>
</div>

<div class="row toprow">
  <div class="col-md-12">
    To easily rehost images, drag this link (<a href="javascript:void(window.location='https://veuwer.com?upload='+encodeURIComponent(window.location.href));">Upload to Veuwer</a>) to your bookmark bar, then click it when viewing a direct image link.
  </div>
</div>
