<div class="row toprow">
  <div class="col-md-12">
    <p>
      September 2015<br>
      ---<br>
      $114.04 expenses.<br>
      $0 income.<br>
      No takedown requests.<br>
      No requests for user information.<br>
      No contact with employees or representatives of any government.<br>
    </p>
  </div>
</div>

<div class="row toprow">
  <div class="col-md-12">
    <p>
      August 2015<br>
      ---<br>
      $160.91 expenses.<br>
      $0 income.<br>
      No takedown requests.<br>
      No requests for user information.<br>
      No contact with employees or representatives of any government.<br>
    </p>
  </div>
</div>

<div class="row toprow">
  <div class="col-md-12">
    <p>
      July 2015<br>
      ---<br>
      $61.94 expenses.<br>
      $0 income.<br>
      No takedown requests.<br>
      No requests for user information.<br>
      No contact with employees or representatives of any government.<br>
    </p>
  </div>
</div>

<div class="row toprow">
  <div class="col-md-12">
    <p>
      June 2015<br>
      ---<br>
      $0 expenses. (Switched from prepaid to postpaid, so July will cost something.)<br>
      $0 income.<br>
      No takedown requests.<br>
      No requests for user information.<br>
      No contact with employees or representatives of any government.<br>
      <br>
      Note: Last month's canary was modified in a <a href="https://voat.co/v/veuwer/comments/151434/381534">misguided attempt to be more explicit</a>. There was no contact with government employees last month either.
    </p>
  </div>
</div>

<div class="row toprow">
    <div class="col-md-12">
        <p>
            May 2015<br>
            ---<br>
            $42 prepaid for 6 months of hosting. (Most won't be used because of changing plans.)<br>
            No takedown requests.<br>
            No requests for user information.<br>
            No gag orders, National Security Letters, orders under the Foreign Intelligence Surveillance Act, or any other classified requests for user information.
        </p>
    </div>
</div>
